.profile-pic {
  max-width: 200px;
  margin: 20px auto;
  overflow: hidden;
  border: 5px solid #ddd;
  transition: transform 0.5s;
}

.profile-pic:hover {
  transform: scale(1.1);
}

.card {
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.logout-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
